*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans',sans-serif;
}
header{
  height: 100vh;
  background-image: linear-gradient(to top,rgba(161,140,209,0.404) 0%,rgba(251,193,234,0.404) 100%), url(https://w0.peakpx.com/wallpaper/584/541/HD-wallpaper-person-wearing-long-sleeve-top-working-on-laptop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*Cabecera*/

nav{
  background: #000000;
  height: 80px;
  width: 100%;
}

.enlace{
  position: absolute;
  padding: 20px 50px;
}

.logo{
  height: 40px
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

li a.active, li a:hover{
  background: #9f8ad0;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  .enlace{
    padding-left: 20px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
   .checkbtn{
     display: block;
   }
   ul{
     position: fixed;
     width: 100%;
     height: 100vh;
     background-image: linear-gradient(135deg,#667eea 0,#764ba2 100%);
     top: 80px;
     left: -100%;
     text-align: center;
     transition: all .5s;
   }
   nav ul li{
     display: block;
     margin: 50px 0;
     line-height: 30px;
   }
   nav ul li a{
     font-size: 20px; 
   }
   li a:hover, li a.active{
     background: none;
     color: #000000;
   }
   #check:checked ~ ul {
     left: 0;
   }
}

.menu-navegacion a{
  color: #fff;
  text-decoration: none;
}

.contenedor{
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

.head{
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
  text-align: center;
}

.titulo{
  font-size: 60px;
  margin-bottom: 15px;
}
.copy{ 
  font-weight: 300;
  font-size: 25px;
}

/*Servicio*/
.subtitulo {
  text-align: center;
  font-weight: 300;
  color: #9f8ad0;
  margin-bottom: 40px;
  font-size: 40px;
}

.contenedor-servicio {
  border: solid thin green;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-servicio img {
  width: 40%;
}
.checklist-servicio {
  width: 45%;
}

.service {
  margin-bottom: 20px;
}

.n-service {
  margin-bottom: 7px;
  color: #9f8ad0;
}

.number{
  display: inline-block;
  background-image: linear-gradient(to top, #667eea 0, #fbc2eb 100%);
  width: 30px;
  height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
  margin-right: 5px;
}
/*Foter*/
footer{
  background-color: #9f8ad0;
  padding-bottom: 0.1px;
}

.footer-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us{
  width: 40%;
  color #fff;
}

.brand{
  font-weight: 500;
  font-size: 40px;
}
.contact-us p{
  font-weight: 500;
}

.social-media{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  color: #000;
}

.social-media-icon{
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon:hover{
  background-color: #fff;
  color: #764ba2;
}

.social-media-icon i{
  text-align: center;
  line-height: 60px;
}
.line{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background-color: #fff;
  margin-bottom: 60px;
}

/*Productos*/
.products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px,auto));
  gap: 1.5rem;
  margin-top: 2rem;
}
.products-container .box{
  position: relative;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5rem;
}
.products-container img{
  width: 100%;
  height: 250px;
  object-fit: contain;
  object-position: center;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 0.5rem;
}
.products-container .box h3{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0.5rem 0 0.5rem;
}

.products-container .box .content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.products-container .box .content span{
  padding: 0 1rem;
  color: #9f8ad0;;
  background: #9f8ad0;
  border: 4px;
  font-weight: 500;
}
.products-container .box .content span{
  padding: 0 1rem;
  color: #fff;
  border: 2px solid;
  border-radius: 4px;
  text-transform: uppercase;
}
.products-container .box .coontent a:hover {
  background: #9f8ad0;
  color: #000000;
  transition: 0.2s all linear;
}

